﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: normal 16px Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1 {
    font: bold 38px Arial;
}

label {
    font: normal 16px Arial;
}

input[type=text], select {
    font: normal 16px Arial;
    height: 36px;
    line-height: 36px;
    padding-left: 4px;
    background-color: #FFFFFF;
    border: solid 1px #0087AA;
    color: #4A4A4A;
    width: 100%;
    user-select: none;
    outline: none;
    border-radius: 4px;
}

textarea {
    font: normal 16px Arial;
    height: 200px;
    line-height: 22px;
    padding-left: 4px;
    background-color: #FFFFFF;
    border: solid 1px #0087AA;
    color: #4A4A4A;
    width: 100%;
    resize: none;
    user-select: none;
    outline: none;
    border-radius: 4px;
}

input[type=submit] {
    font: normal 16px Arial;
    height: 36px;
    line-height: 36px;
    padding-left: 4px;
    background-color: #0087AA;
    color: #FFFFFF;
    width: 100%;
    border: 0;
    border-radius: 4px;
}

    input[type=submit]:hover {
        background-color: #1997B7;
    }

.result-text {
    text-align: center;
    font: 600 18px Arial; 
}
