﻿@model BizStream.ContactUsForm.Application.UI.ViewModels.ContactUsFormViewModel
@{
    ViewBag.Title = "Contact Us Form";
}

<div class="row">
    <div class="col-md-6">
        <h1>Contact Us Form</h1>
        <div class="col-md-12 result-text">
            @ViewBag.ResultMessage
        </div>
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div>
                        @Html.LabelFor(x => x.FirstName)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.FirstName, new { autocomplete = "off" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(x => x.LastName)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.LastName, new { autocomplete = "off" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(x => x.Email)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Email, new { autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(x => x.FavoriteColor)
                    </div>
                    <div>
                        @Html.DropDownListFor(x => x.FavoriteColor, new List<SelectListItem>()
                        {
                           new SelectListItem() { Text="Red", Value="Red" },
                           new SelectListItem() { Text="Orange", Value="Orange" },
                           new SelectListItem() { Text="Yellow", Value="Yellow" },
                           new SelectListItem() { Text="Green", Value="Green" },
                           new SelectListItem() { Text="Blue", Value="Blue" },
                           new SelectListItem() { Text="Purple", Value="Purple" }
                        })

                        @Html.ValidationMessageFor(x => x.FavoriteColor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(x => x.IsHuman)
                    </div>
                    <div>
                        @Html.CheckBoxFor(x => x.IsHuman)
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(x => x.Message)
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.Message)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" />
                </div>
            }
        </div>
    </div>
</div>